html{
    background-color: aliceblue;
}
body{
    margin: 0%;
    
}
.header{
    background-color: rgb(190, 225, 255);
    max-width: 100%;
    

}
.header-text{
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;

}
.main-content{
    background-color: rgb(255, 180, 195);
    max-width: 100%;
    

}
.main-content-text{
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;

}
.footer{
    background-color: rgb(159, 255, 223);
    width:100%;

}
.footer-text{
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;

}